.bar_image {
    width: 100%;
    height: 100vh;
    border-top: 1px solid black;
    /* background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(https://i.postimg.cc/0QwStdyj/14-remini-enhanced.png); */
    position: relative;
}

.bar_name {
    width: 100%;
    height: 66px;
    background-color: var(--green);
    color: var(--white);
    display: flex;
    align-items: center;
    padding-left: 330px;
    letter-spacing: 0.02rem;
    border-top: 1px solid black;
}

.main_body {
    width: 100%;
    background-color: black;
    min-height: 400px;
}

.bar_description {
    color: white;
    line-height: 1.8;
    text-align: justify;
    width: 760px;
}

.breakpoints{
    width: 65.5%;
    margin-left: 330px;
    padding-top: 76px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;

}

.bar_features{
    color: white;
    background-color: var(--gold);
    height: 245px;
    width: 250px;
    border-radius: 6px;
}