.dropdown_container {
    background-color: var(--lightgreen);
    border-radius: 2px;
    width: 250px;
    color: white;
}

.p {
    padding: 10px;
}

.ul {
    background-color: var(--lightgrey);
    list-style: none;
    border-radius: 2px;
    position: absolute;
    width: 250px;
    color: black;
}

.li {
     display: flex;
     width: 100%;
     align-items: center;
     justify-content: space-between;
     padding: 10px;
}