.panel {
    background-color: var(--green);
    display: flex;
    color: white;
    align-items: center;
}


.buttons_div{
    display: flex;
    margin-bottom: 30px;
    width: 250px;
    justify-content: space-between;
}

.done_button {
    color: white;
    background: var(--gold);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 110px;
    height: 44px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.reset_button {
    color: white;
    background-color: var(--lightgreen);
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 44px;
    cursor: pointer;
}

.dropdown_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.filters_button {
    color: white;
    background-color: var(--green);
    border-radius: 10px;
    font-size: 16px;
    width: 120px;
    height: 44px;
}