@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
:root{
  --gold: #AF8541;
  --white: white;
  --black: #000707;
  --green: #173234;
  --lightgreen: #788C8D;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

*{
  margin:0px;
  padding:0px;
  border:0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
font-size: 36px;
color: var(--white);
font-weight: 400;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
  color:var(--white);
}

