@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root{
  --gold: #AF8541;
  --white: white;
  --black: #000000;
  --green: #173234;
  --lightgreen: #788C8D;
  --lightgrey: #D9E5E5;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
}

*{
  margin:0px;
  padding:0px;
  border:0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
font-size: 40px;
color: var(--white);
font-weight: 500;
}

h2 {
  font-size: 25px;
}

h3 {
  /* font-family: 'Inter', sans-serif; */
  font-size: 20px;
  font-weight: 600;
  color:var(--white);
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 500px) {
  h1.hero-header {
    max-width: 95%;
    font-size: 32px;
  }
}