.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 34vh;
    padding-bottom: 45vh;
    text-align: center;
}

.search_container {
    display: flex;
    margin-top: 130px;
}

.error_msg{
    display: flex;
    color: white;
    flex-direction: column;
}

.error_msg>p{
    margin-left: -550px;
    margin-top: 70px;
    font-size: 16px;
}

.search_container>input {
    width: 441px;
    height: 45px;
    background: var(--white);
    border-radius: 4px 0px 0px 4px;
    padding-left: 15px;
    font-size: 18px;
    outline: none;
}

.search_button {
    width: 110px;
    height: 45px;
    background: var(--gold);
    border-radius: 0px 4px 4px 0px;
    font-size: 18px;
    color: var(--white);
    letter-spacing: 0.03rem;
    cursor: pointer;
}

.search_button:disabled {
    background-color: #BDA57F;
}

.search_button> span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.search_button> span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5px;
    transition: 0.5s;
}

.search_button:hover span {
    padding-right: 15px;
}

.search_button:hover span:after {
    opacity: 1;
    right: 0;
}

.main_container>h1{
    letter-spacing: 0.18rem;
    display: inline-block;
    position: relative;
}

.main_container>h1::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: var(--gold);
    transition: transform 0.3s ease-out;
}

.main_container>h1:hover::after {
    transform: scaleX(1);
}