.main_container{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 37%;
    left:30%
}

.search_container{
    display: flex;
    margin-top: 120px;
}

.search_container>input{
    width: 441px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 4px 0px 0px 4px;
    padding-left: 14px;
    font-size: 18px;
    outline: none;
}
.search_container>button{
    width: 99px;
    height: 40px;
    background: #AF8541;
    border-radius: 0px 4px 4px 0px;
}

.main_container>h1{
letter-spacing: 0.07rem;
}
