.Navbar{
    width:100%;
    background-color: transparent;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 45px; 
    padding-right: 45px;
    justify-content: space-between;
    position: absolute;
    z-index: 3;
}

.about_login>div>h3>a{
    text-decoration: none;
    color: var(--white);
    width: 100px;
    height: 20px;
}

.logo{
    font-size: 26px;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    width:140px;
}

.about_login{
    display: flex;
    width: 230px;
    justify-content: space-around;
}

.about_us>h3, .login>h3 {
    display: inline-block;
    position: relative;
    color: var(--gold);
    cursor: pointer;
}

.about_us>h3::after, .login>h3::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: var(--gold);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.about_us>h3:hover::after, .login>h3:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.HeroImage {
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: fixed;
}

.checkbtn {
    display: none;
}

@media (max-width: 500px) {
    .checkbtn {
        display: block;
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../public/menu.png');
        float: right;
        line-height: 80px;
        margin-right: 20px;
        cursor: pointer;
        margin-top: 0px;
        cursor: pointer;
    }
        .about_login>div>h3>a {
            display: none;
        }
        .about_us>h3
        .login>h3 {
            display: block;
            margin: 30px 0px;
            line-height: 80px;
            border: 1px solid red;
        }
    .about_login{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: var(--green);
        top: 80px;
        transform: translateX(-114%);
        transition: all .5s;
        text-align: center;
    }
    .about_login_checked{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: var(--green);
        top: 60px;
        transform: translateX(-11%);
        transition: all .5s;
        text-align: center;
        box-sizing: none;
    }
    .about_login_checked>div>h3{
        margin-top: 35px;
        color: white;
    }
}