.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    max-width: 100%;
    /* padding: 240px; */
    padding: 100px;
    justify-content: space-around;
    font-family: 'Inter', sans-serif;
}

.cardContainer > a {
    text-decoration: none;
}

.resultCard {
    width: 320px;
    height: 460px;
    background-color: var(--green);
    border-radius: 15px;
    font-family: 'Inter', sans-serif;
    color: var(--white);
}

.ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 10px;
}

.imageStandIn {
    width: 100%;
    height: 200px;
    background-color: var(--lightgreen);
    border-top-left-radius: 15px;
    border-top-right-radius:15px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.goldRectangle {
    background-color: var(--gold);
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}

.description{
    font-size: 16px;
    padding: 20px;
}

