.Navbar{
    width: 100%;
    background-color: var(--gold);
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 45px; 
    padding-right: 45px;
    justify-content: space-between;
}

.about_login>div>h3>a{
    text-decoration: none;
    color: var(--white);
    width: 100px;
    height: 20px;
}

.logo{
    font-size: 26px;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    width:140px;
    align-items: center;
}

.logo_icon{
    padding-top: 0px;
    display: flex;
}

.align_input_left{
    width: 70%;
    padding-right: 20px;
    text-decoration: none;
    /* border: 1px solid red; */
}

.search_container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-bottom: 2px solid white;
    width: 330px;
    height:41px;
}

.search_container>input {
    width: 300px;
    height: 45px;
    background: transparent;
    padding-left: 15px;
    font-size: 16px;
    outline: none;
    color: white;
}

.search_container>input::placeholder{
    color: rgb(212, 201, 201);
}

.logo_area {
    height: 28px;
    width: 28px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../public/location-pin.png');
}

.about_login{
    display: flex;
    width: 200px;
    justify-content: space-around;
}

.about_us>h3 {
    display: inline-block;
    position: relative;
    color: var(--white);
}

.about_us>h3::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: var(--white);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.about_us>h3:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.login>h3 {
    display: inline-block;
    position: relative;
}

.login>h3::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: var(--white);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.login>h3:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.text {
    text-decoration: none;
}