.keywordsearch_main_container {
    position: relative;
    width: 100%;
    padding-top: 125px;
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100px;
    gap: 10px;
}

.icon_input_toggle_container {
    width: 80%;
    max-width: 1020px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_icon {
    margin-top: 10px;
    height: 30px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../public/search-icon.png')
}

.keyword_input{
    width: 75%;
    padding: 8px 16px;
    padding-bottom: 9px;
    padding-top: 17px;
    font-size: 16px;
    background-color: black;
    color: white;
}

.keyword_input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(166, 154, 154);
    opacity: 1;
    /* Firefox */
}

.keyword_input:focus {
    outline: none;
}

.gold_underline{
    border-bottom: 2px solid var(--gold);
    width: 80%;
    max-width: 1020px;
}

.button_box {
    width: 230px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
    background: #173234;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.toggle_btn {
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
    font-size: 16px;
}

.btn {
    left: 0px;
    top: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background: #AF8541;
    border-radius: 30px;
    transition: .5s;
}

.btn10 {
    left: 50%;
    top: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background: #AF8541;
    border-radius: 30px;
    transition: .5s;
}


.reset_button {
    color: white;
    background-color: var(--green);
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 44px;
    margin-right: 11px;
    cursor: pointer;
}

.filters_button {
    color: white;
    background-color: var(--gold);
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 44px;
    cursor: pointer;
}

.more_filters_button {
    color: white;
    background-color: var(--green);
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 44px;
    cursor: pointer;
}

.all_filter_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin-bottom: 60px;
}

.dropdown_container {
    /* border: 1px solid rgb(0, 255, 72); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
}

.button_container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_inner_container{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.button_centering{
    width: 100%;
    text-align: center;
}

.load_more_button{
    background-color: var(--gold);
    color: white;
    font-size: 16px;
    width: 160px;
    height: 50px;
    border-radius: 7px;
    margin-bottom: 100px;
    cursor: pointer;
}

.load_more_button>span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.load_more_button>span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5px;
    transition: 0.5s;
}

.load_more_button:hover span {
    padding-right: 18px;
}

.load_more_button:hover span:after {
    opacity: 1;
    right: 0;
}


@media(max-width: 500px){
    .reset_button {
        margin-bottom: 11px;
        margin-left: 11px;
    }
    .keywordsearch_main_container {
        position: relative;
        width: 100%;
        padding-top: 20vw;
        padding-bottom: 10vw;
        margin-bottom: 0px !important;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100px;
        gap: 10px;
    }
        .all_filter_buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* border: 1px solid red; */
            margin-top: 40px;
            margin-bottom: 50px;
        }
    
        .dropdown_container {
            /* border: 1px solid rgb(0, 255, 72); */
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 12px;
            flex-wrap: wrap;
            align-items: center;
    
        }
    
        .button_container {
            /* border: 3px solid blue; */
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    
        .dropdown_inner_container {
            margin-bottom: 10px;
            /* border: 5px solid red; */
            /* width: 100%; */
            /* min-width: 1010px; */
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            flex-direction: column;
        }
        .search_icon {
            margin-top: 20px;
            height: 35px;
            width: 35px;
            background-size: contain;
            background-repeat: no-repeat;
             background-image: url('../public/search-icon.png')
             }
            .dropdown_inner_container {
                margin-bottom: 0px;
            }
}

