.display{ 
    background-color: var(--black);
    color: var(--white);
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.text {
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}